*cache*
*.DS_Store
*.idea
*.pyc
*.pyo
*.xls
*.doc
*.docx
*.ppt
*.pptx
*.rtf
*.json
*.log
*.zip
*.aux
*.fdb_latexmk
*.fls
*.gz
*.toc
*.jpg
*.png
*.tex
ElectionAnalysisVenv/*
VoterImpactIndex/TheMathematicsAndStatisticsOfVotingPower.pdf
